node_modules
font/ttf
credentials/*
!credentials/.gitkeep
testes.js
teste.txt
teste.json

dist/audio/*
dist/clips/*
dist/composition/*
dist/images/*
scripts/*
videos/*
!dist/audio/.gitkeep
!dist/clips/.gitkeep
!dist/composition/.gitkeep
!dist/images/.gitkeep
!scripts/.gitkeep
!videos/.gitkeep
